{% capture stylename %}cssmap-{{Model.ContentItem.Content.CSSMap.Map.Text}}{% endcapture %}
{% style name:stylename %}

<div class="d-block">
	<section class="{{ Model.Classes | join: " " }}">
		<div id="{{ Model.ContentItem.Content.CSSMap.Id.Text }}" style="display:none;">
			<ul class="{{ Model.ContentItem.Content.CSSMap.Map.Text }}" >
				{{ Model.ContentItem.Content.CSSMap.Markup.Html | raw }}
			</ul>
		</div>
	{%if Model.ContentItem.Content.CSSMap.AdditionalMarkup.Html.size > 0 %}
		<ul class="{{ Model.ContentItem.Content.CSSMap.Map.Text }}" >
			{{ Model.ContentItem.Content.CSSMap.Markup.Html | raw }}
		</ul>
	{%endif%}
	</section>
</div>
{% script name:"CSSMap", at:"Foot" %}

{% scriptblock at: "Foot" %}
$(document).ready(function(){
$("#{{ Model.ContentItem.Content.CSSMap.Id.Text }}").CSSMap({
	size: {{Model.ContentItem.Content.CSSMap.Size.Text}}{% if Model.ContentItem.Content.CSSMap.MapOptions.Text.size>0%},
	{{ Model.ContentItem.Content.CSSMap.MapOptions.Text | raw }}{% endif %}
	});
$("#{{ Model.ContentItem.Content.CSSMap.Id.Text }}").css('display','block')
});
{% endscriptblock %}
